<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-control>
      <nz-input-group nzPrefixIcon="anticon anticon-user">
        <input type="text" nz-input formControlName="name" placeholder="文档名称">
      </nz-input-group>
      <nz-form-explain *ngIf="validateForm.get('name').dirty && validateForm.get('name').errors">请输入文档名称!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <nz-input-group nzPrefixIcon="anticon anticon-user">
        <textarea formControlName="describe" nz-input rows="3" placeholder="文档描述"></textarea>
      </nz-input-group>
      <nz-form-explain *ngIf="validateForm.get('describe').dirty && validateForm.get('describe').errors">请输入文档描述!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <!-- <nz-form-control> -->
      <!-- <nz-input-group nzPrefixIcon="anticon anticon-user"> -->
        <nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload">
          <button nz-button>
            <i class="anticon anticon-upload"></i>
            <span>Select File</span>
          </button>
        </nz-upload>
      <!-- </nz-input-group> -->
      <!-- <nz-form-explain *ngIf="validateForm.get('describe').dirty && validateForm.get('describe').errors">请先上传文件!</nz-form-explain> -->
    <!-- </nz-form-control> -->
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <button nz-button class="login-form-button" [nzType]="'primary'">添加</button>
    </nz-form-control>
  </nz-form-item>
</form>
